.principal{
    height: 260px;
    padding: 8px;
}

.buttons{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;

}

@media screen { 

    .principal{
        height: 370px;
    }
    
}