.principal{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 5px;
    background-color: #0c7ca8;
    border-radius: 3px;
    /* width: 90%; */
}